.notes{
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 280px;
    padding: 20px;
    border-radius: 30px;
    font-size: 1rem;
    line-height: 30px;
}

textarea{
    flex: 1;
    resize: none;
    border: none;
    outline: none;
    background: transparent;
    font-size: 22px;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer i{
    opacity: 0;
    transition: all 0.45s ease;
}

.notes:hover .footer i{
    opacity: 1;
}